html
  height: 100%
  color: $colorText
  font-family: $fontfamily
  font-size: 10px

  @media tablet
    font-size: 2vmax
  @media sd-monitor
    font-size: 2vmax
  @media hd-monitor
    font-size: 2vmax

body
  height: 100%
  background: $white url('../media/images/wood.jpg') top center
  background-size: cover
  line-height: 2em
  margin: 0
  padding: 0
  min-height: 100%

*
  box-sizing: border-box

  &:active
    outline: 0

#app-ui, #container
  height: 100%
  min-height: 100%
  margin: 0
  padding: 0

  .fullscreen
    position: absolute
    bottom: 10px
    right: 10px
    cursor: pointer

    &:hover
      font-size: 28px
      bottom: 8px
      right: 8px

  .eldritch-icon
    font-family: $eldritchIcons
