
body
    background-color: $white
    color: $colorText
    font-family: $fontfamily
    font-size: 22px
    margin: 0
    padding: 0

*
    box-sizing: border-box

    &:active
        outline: 0

#app-body
    padding: 5rem 1rem 2rem 1rem
