#header
    background-color: #4D72B9
    display: flex
    align-items: center
    font-size: 5vw
    font-family: 'Eldritch'
    color: #fff

    img
        width: 30%
        height: auto

#character-list
    .container
        margin: 1em
