#character-list
  background: $white url('../media/images/grunge_paper2.jpg') top center
  background-size: cover
  height: 100%
  #header
    background: $dark url('../media/images/header.jpg') no-repeat center center
    background-size: cover
    display: flex
    align-items: center
    font-size: 7.5vw
    font-family: 'Eldritch'
    color: $white
    text-shadow: -2px -2px 0 $outline, 2px -2px 0 $outline, -2px 2px 0 $outline, 2px 2px 0 $outline

    img
      width: 14vmax
      height: auto

    .delete-icon
      position: absolute
      right: 10px
      top: 10px
      cursor: pointer

  .container
    font-weight: bold
    margin: 1em

    a
      font-size: 1.5em
      color: $link
      cursor: pointer
      text-shadow: -1px -1px 0 $dark
      &:hover
        text-decoration: underline

