json('../media-queries.json')

#player-mat
  height: 100%
  margin: 0
  padding: 1.2rem 0 0 1.2rem

  #profile
    position: relative
    width: 100%
    display: flex
    justify-content: space-between

    @media portrait-layout
      width: 75%
      flex-flow: column

    @media landscape-layout
      flex-flow: row

    #profile-pic-content
      display: inline-block
      position: relative
      text-align: center

      #profile-placeholder
        display: inline-block
        position: relative
        border: 1px solid $dark
        padding: 0.3em

        @media portrait-layout
          flex-flow: column

        #profile-pic
          height: auto
          border: 5px solid $white
          box-shadow: 1px 1px grey;
          transform: rotate(-3deg)

          img
            display: block
            width: 100%

    #profile-info
      flex-grow: 1
      text-align: center
      padding: 0 0 0 1em

      .profile-label
        font-size: .8em
        line-height: 1em
        color: $dark

      #player-name
        line-height: 2em
        font-size: 1.5em
        font-weight: bold
        margin-bottom: 1em

      #player-occupation
        line-height: 2em
        font-size: 1.2em

      hr
        border-style: solid
        border-color: $dark
        margin: 0

  #actions
    flex-grow: 1
    padding: 0 1rem 1rem 1rem

    .label
      font-size: .8em
      line-height: 1em
      color: $dark

    hr
      border-style: solid
      border-color: $dark
      margin: 0


  #physiological-index-area
    display: inline-table
    border: 1px solid $dark
    padding: 1rem

    .physiological-index
      display: inline-block
      border: 1px solid $dark
      width: 11vmax
      height: 11vmax

      &:nth-child(2)
        margin-left: 2vmax

      .index-label
        font-size: 0.6em
        border-bottom: 1px solid $dark
        text-align: center
        line-height: 1em
        padding-top: 0.3em

      .index-value
        position: relative
        height: 100%

      .health, .sanity
        cursor: pointer

      .eldritch-icon
        position: absolute
        font-size: 12vmax
        line-height: 1em

      .health
        .eldritch-icon
          left: -6%
        .stat
          color: $red
          border-color: $red
          top: 18%
          right: 3%
          transform: rotate(-15deg)

      .sanity
        .eldritch-icon
          left: -15%

        .stat
          color: $blue
          border-color: $blue
          bottom: 4%
          right: -4%
          transform: rotate(10deg)

  #stats-area
    position: absolute
    width: fit-content
    height: fit-content
    transform: rotate(-1deg)

    @media portrait-layout
      right: -2px
      top: 1em

    @media landscape-layout
      bottom: 0
    // @media small
    //   right: -2px
    // @media mobile
    //   right: -2px

    // @media tablet
    //   bottom: 1em
    //   left: 1em
    // @media sd-monitor
    //   bottom: 1em
    //   left: 1em
    // @media hd-monitor
    //   bottom: 1em
    //   left: 1em

    #attributes
      display: flex
      background: url(../media/images/grunge_paper.jpg) no-repeat center center

      @media portrait-layout
        flex-flow: column

      @media landscape-layout
        flex-flow: row

      .attribute-container
        display: inline-block
        width: 10vmax
        height: 12vmax
        border: 1px solid $dark

        @media portrait-layout
          margin: 0.5em 1em

        @media landscape-layout
          margin: 1em 0.5em


        .stamp-container
          position: relative

        &.lore
          .stamp-container
            top: -2px
            left: 9%
            transform: rotate(-3deg)

          .stat
            background-color: $purple
          .eldritch-icon .inner-circle
            border-color: $purple
        &.strength
          .stamp-container
            top: -2px
            left: 9%
            transform: rotate(-2deg)

          .stat
            background-color: $red
          .eldritch-icon .inner-circle
            border-color: $red
        &.observation
          .stamp-container
            top: -2px
            left: 6.5%
            transform: rotate(1deg)

          .stat
            background-color: $green
          .eldritch-icon .inner-circle
            border-color: $green
        &.influence
          .stamp-container
            top: -2px
            left: 9%
            transform: rotate(-1deg)

          .stat
            background-color: $orange
          .eldritch-icon .inner-circle
            border-color: $orange
        &.will
          .stamp-container
            top: -1px
            left: 9%
            transform: rotate(-1deg)

          .stat
            background-color: $blue
          .eldritch-icon .inner-circle
            border-color: $blue

        .attribute-label
          font-size: 0.8em
          color: $colorText
          line-height: 1.3em
          border-bottom: 1px solid $dark
          text-align: center
          padding-top: 0.3em

      .attribute-container:first-child
        @media portrait-layout
          margin: 1em 1em 0.5em 1em

        @media landscape-layout
          margin: 1em 0.5em 1em 1em

      .attribute-container:last-child
        @media portrait-layout
          margin: 0.5em 1em 1em 1em

        @media landscape-layout
          margin: 1em 1em 0.5em 1em

.health, .strength
  color: $red

.sanity, .will
  color: $blue

.lore
  color: $purple

.influence
  color: $orange

.observation
  color: $green
