json('../media-queries.json')

#player-mat
  background: $white url('../media/images/grunge_paper2.jpg') top center
  background-size: cover
  height: 100%
  margin: 0
  padding: 2vmax

  #profile
    width: 100%
    display: flex
    justify-content: space-between

    #profile-placeholder
      display: inline-block
      position: relative
      border: 1px solid $dark
      width: 20vmax
      height: 20vmax

      #profile-pic
        display: inline-block
        margin-left: 5px
        width: 95%
        height: auto
        border: 5px solid $white
        box-shadow: 1px 1px grey;
        transform: rotate(-3deg)

        img
          display: block
          width: 100%

    #profile-info
      flex-grow: 1
      text-align: center
      padding: 0 0 0 1em

      .profile-label
        font-size: .8em
        line-height: 1em
        color: $dark

      #player-name
        line-height: 2em
        font-size: 1.5em
        font-weight: bold
        margin-bottom: 1em

      #player-occupation
        line-height: 2em
        font-size: 1.2em

      hr
        border-style: solid
        border-color: $dark
        margin: 0

  #physiological-index-area
    display: inline-block
    position: absolute

    .physiological-index
      display: inline-block
      border: 1px solid $dark
      width: 11vmax
      height: 11vmax

      &:nth-child(2)
        margin-left: 2vmax

      .index-label
        font-size: 0.6em
        border-bottom: 1px solid $dark
        text-align: center
        line-height: 1em
        padding-top: 0.3em

      .index-value
        position: relative
        height: 100%

      .health, .sanity
        cursor: pointer

      .eldritch-icon
        position: absolute
        font-size: 12vmax
        line-height: 1em

      .health
        .eldritch-icon
          left: -6%
        .stat
          color: $red
          border-color: $red
          top: 18%
          right: 3%
          transform: rotate(-15deg)

      .sanity
        .eldritch-icon
          left: -15%

        .stat
          color: $blue
          border-color: $blue
          bottom: 4%
          right: -4%
          transform: rotate(10deg)

  #stats-area
    display: flex

    #attributes
      display: flex
      flex-wrap: wrap

      .attribute-container
        width: 10vmax
        height: 12vmax
        border: 1px solid $dark

        .stamp-container
          position: relative

        &.lore
          .stamp
            top: -2px
            left: 1vmax
            transform: rotate(-3deg)

          .stat
            background-color: $purple
          .eldritch-icon .inner-circle
            border-color: $purple
        &.strength
          .stamp
            top: -2px
            left: 0.5vmax
            transform: rotate(-2deg)

          .stat
            background-color: $red
          .eldritch-icon .inner-circle
            border-color: $red
        &.observation
          .stamp
            top: -2px
            left: 0.7vmax
            transform: rotate(1deg)

          .stat
            background-color: $green
          .eldritch-icon .inner-circle
            border-color: $green
        &.influence
          .stamp
            top: -2px
            left: 1vmax
            transform: rotate(-1deg)

          .stat
            background-color: $orange
          .eldritch-icon .inner-circle
            border-color: $orange
        &.will
          .stamp
            top: -1px
            left: 1vmax
            transform: rotate(-1deg)

          .stat
            background-color: $blue
          .eldritch-icon .inner-circle
            border-color: $blue

        .attribute-label
          font-size: 0.8em
          color: $colorText
          line-height: 1.3em
          border-bottom: 1px solid $dark
          text-align: center
          padding-top: 0.3em



.health, .strength
  color: $red

.sanity, .will
  color: $blue

.lore
  color: $purple

.influence
  color: $orange

.observation
  color: $green
