json('../media-queries.json')

#player-mat
  background: $dark url('../media/images/book.jpg') top left
  background-size: cover
  height: 100%
  margin: 0

  @media small
    padding-top: 5vmax
    padding-left: 5vmax
  @media medium-landscape
    padding-top: 7vmax
    padding-left: 10vmax

  #profile
    width: 100%
    display: inline-flex
    align-items: stretch

    #profile-placeholder
      display: inline-block
      position: relative
      border: 1px solid $dark
      width: 20vmax
      height: 20vmax

      #profile-pic
        display: inline-block
        margin-left: 5px
        width: 95%
        height: auto
        border: 5px solid $white
        box-shadow: 1px 1px grey;
        transform: rotate(-3deg)

        img
          display: block
          width: 100%

    #profile-info
      flex-grow: 1
      text-align: center
      padding: 0 1em

      @media medium-landscape
        padding: 0 6em 0 1em

      @media large-landscape
        padding: 0 8em 0 1em

      @media monitor
        padding-right: 18em

      .profile-label
        font-size: .8em
        line-height: 1em

      #player-name
        line-height: 2em
        font-size: 1.5em
        font-weight: bold
        margin-bottom: 1em

      #player-occupation
        line-height: 2em
        font-size: 1.2em

      hr
        border-style: solid
        margin: 0

  #stats-area
    display: flex
    #physiological-index-area
      display: flex
      justify-content: space-between
      min-width: 20vmax
      .physiological-index
        display: inline-block
        border: 1px solid $dark
        width: 9vmax

        .health, .sanity
          font-size: 5em
          line-height: 1em
          cursor: pointer

    .attribute-container
      width: 8vmax
      border: 1px solid $dark
    #attributes
      display: flex
      flex-wrap: wrap

      .eldritch-icon
        font-size: 3em
        cursor: pointer

.health, .strength
  color: $red

.sanity, .will
  color: $blue

.lore
  color: $purple

.influence
  color: $orange

.observation
  color: $green
