@font-face
  font-family Eldritch
  font-style normal
  src url(../fonts/Teutonic.ttf)

@font-face
  font-family EldritchIcons
  font-style normal
  src url(../fonts/EldritchHorrorIcons_v2_1.ttf)

// $fontfamily = 'Amatic SC', Arial, Helvetica, sans-serif
$fontfamily = 'Special Elite', Arial, Helvetica, serif
$eldritchFamily = 'Eldritch'
$eldritchIcons = 'EldritchIcons'
